/* --------- Fonts --------- */
/* Fonts */
@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../../static/fonts/myriadpro/MyriadPro-Bold.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Bold.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Bold.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
}
@font-face {
  font-family: "MyriadPro-BoldCond";
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCond.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.svg#MyriadPro-BoldCond") format("svg");
}
@font-face {
  font-family: "MyriadPro-BoldCondIt_0";
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.svg#MyriadPro-BoldCondIt_0") format("svg");
}
@font-face {
  font-family: "MyriadPro-Cond";
  src: url("../../static/fonts/myriadpro/MyriadPro-Cond.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Cond.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Cond.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Cond.svg#MyriadPro-Cond") format("svg");
}
@font-face {
  font-family: "MyriadPro-It";
  src: url("../../static/fonts/myriadpro/MyriadPro-It.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-It.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-It.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-It.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-It.svg#MyriadPro-It") format("svg");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../../static/fonts/myriadpro/MyriadPro-Regular.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Regular.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Regular.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../../static/fonts/myriadpro/MyriadPro-Semibold.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg");
}
/* Generated by Glyphter (http://www.glyphter.com) on  Mon Nov 10 2014*/
@font-face {
  font-family: 'star-font';
  src: url('../../static/fonts/star-font.eot');
  src: url('../../static/fonts/star-font.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/star-font.woff') format('woff'), url('../../static/fonts/star-font.ttf') format('truetype'), url('../../static/fonts/star-font.svg#star-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Generated by Glyphter (http://www.glyphter.com) on  Sat Nov 08 2014*/
@font-face {
  font-family: 'button-font';
  src: url('../../static/fonts/Glyphter.eot');
  src: url('../../static/fonts/Glyphter.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/Glyphter.woff') format('woff'), url('../../static/fonts/Glyphter.ttf') format('truetype'), url('../../static/fonts/Glyphter.svg#Glyphter') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* -------= pfbeausanspro-regular =------- */
@font-face {
  font-family: "pfbeausanspro-regular";
  src: url("../../static/fonts/pfbeausanspro-regular/pfbeausanspro-regular.eot");
  src: url("../../static/fonts/pfbeausanspro-regular/pfbeausanspro-regular.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/pfbeausanspro-regular/pfbeausanspro-regular.woff") format("woff"), url("../../static/fonts/pfbeausanspro-regular/pfbeausanspro-regular.ttf") format("truetype"), url("../../static/fonts/pfbeausanspro-regular/pfbeausanspro-regular.svg#pfbeausanspro-regular") format("svg");
}
/* -------= pfbeausanspro-regular =------- */
/* -------= pfbeausanspro-semibold =------- */
@font-face {
  font-family: "pfbeausanspro-semibold";
  src: url("../../static/fonts/pfbeausanspro-semibold/pfbeausanspro-semibold.eot");
  src: url("../../static/fonts/pfbeausanspro-semibold/pfbeausanspro-semibold.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/pfbeausanspro-semibold/pfbeausanspro-semibold.woff") format("woff"), url("../../static/fonts/pfbeausanspro-semibold/pfbeausanspro-semibold.ttf") format("truetype"), url("../../static/fonts/pfbeausanspro-semibold/pfbeausanspro-semibold.svg#pfbeausanspro-semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* -------= pfbeausanspro-semibold =------- */
/* -------= pfbeausanspro-semibold =------- */
@font-face {
  font-family: "pfbeausanspro-light";
  src: url("../../static/fonts/pfbeausanspro-light/pfbeausanspro-light.eot");
  src: url("../../static/fonts/pfbeausanspro-light/pfbeausanspro-light.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/pfbeausanspro-light/pfbeausanspro-light.woff") format("woff"), url("../../static/fonts/pfbeausanspro-light/pfbeausanspro-light.ttf") format("truetype"), url("../../static/fonts/pfbeausanspro-light/pfbeausanspro-light.svg#pfbeausanspro-light") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* -------= pfbeausanspro-semibold =------- */
/* -------= шрифт рубля =------- */
@font-face {
  font-family: 'rouble';
  src: url('../../static/fonts/rouble/rouble.eot');
  src: url('../../static/fonts/rouble/rouble.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/rouble/rouble.woff') format('woff'), url('../../static/fonts/rouble/rouble.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* -------= шрифт рубля =------- */
.rouble {
  font-family: 'rouble';
}
.pfbeausanspro-light {
  font-family: "pfbeausanspro-light";
}
.pfbeausanspro-semibold {
  font-family: "pfbeausanspro-semibold";
}
.pfbeausanspro-regular {
  font-family: "pfbeausanspro-regular";
}
.button-font {
  font-family: "button-font";
}
.star-font {
  font-family: "star-font";
}
.myriad-b {
  font-family: "MyriadPro-Bold";
}
.myriad-bc {
  font-family: "MyriadPro-BoldCond";
}
.myriad-bcit_0 {
  font-family: "MyriadPro-BoldCondIt_0";
}
.myriad-c {
  font-family: "MyriadPro-Cond";
}
.myriad-it {
  font-family: "MyriadPro-It";
}
.myriad-r {
  font-family: "MyriadPro-Regular";
}
.myriad-sb {
  font-family: "MyriadPro-Semibold";
}
/* ------------------------------------------- */
/* --------- Mixins --------- */
/* MIXINS */
/* by https://bitbucket.org/wowua/ */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* --------- корзина --------- */
.header-option__card {
  position: relative;
}
.header-option__card.active .backet-popup {
  left: -283px;
  opacity: 1;
}
.header-option__backet {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  padding-right: 35px;
  background: url("../../static/img/common/backet.png") right center no-repeat;
  font-size: 14px;
  color: #17709a;
  text-transform: uppercase;
  line-height: 31px;
  text-decoration: none;
  margin-top: 52px;
  margin-left: 24px;
}
.header-option__backet:after {
  content: "";
  display: block;
  position: absolute;
  right: -14px;
  background: url("../../static/img/common/str-down.png") 0 0 no-repeat;
  width: 9px;
  height: 5px;
  top: 64px;
}
/*---------Popup Корзины--------*/
.backet-popup {
  position: absolute;
  z-index: 666;
  left: -9999px;
  top: 80px;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.backet-popup__body {
  background: url("../../static/img/common/bottom-side.png") 0 0 no-repeat;
  width: 470px;
  padding-top: 11px;
}
.backet-popup__wrap {
  background: url("../../static/img/common/bottom-side.png") 0 bottom no-repeat;
  padding-bottom: 11px;
  width: 470px;
  position: relative;
}
.backet-popup__title {
  position: absolute;
  background: url("../../static/img/common/top-side.png") 0 0 no-repeat;
  width: 217px;
  height: 46px;
  top: -57px;
  right: 0px;
}
.backet-popup__content {
  padding: 13px 17px 0;
}
.backet-popup__scroll {
  max-height: 270px;
  overflow: auto;
  position: relative;
  outline: none;
}
.backet-popup__text {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 7px;
  position: absolute;
  top: 26px;
  left: 38px;
  cursor: pointer;
  background: url("../../static/img/common/blue_str_up.png") right 5px no-repeat;
  padding-right: 15px;
}
.backet-popup__text {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  margin-left: 3px;
  line-height: 16px;
  text-decoration: underline;
  text-transform: uppercase;
}
.backet-popup__text a {
  font-family: "pfbeausanspro-regular";
  font-size: 14px;
  color: #17709a;
}
.backet-popup__text-ico {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  background: url("../../static/img/common/backet.png") right center no-repeat;
  width: 32px;
  height: 26px;
  margin-top: -5px;
  margin-left: 3px;
}
.backet__item-pic {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  position: relative;
  width: 80px;
  height: 70px;
  margin-top: 11px;
}
.backet__item-desc {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  margin-left: 15px;
  padding-top: 15px;
  width: 200px;
}
.backet__item-title {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  margin-bottom: 11px;
}
.backet-popup-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #202020;
}
.backet__item-price {
  margin-top: 15px;
}
.backet__item-price__title {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  font-size: 12px;
  line-height: 14px;
  color: #838282;
  padding-top: 4px;
}
.backet__item-price__value {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  font-family: "pfbeausanspro-semibold";
  font-size: 17px;
  line-height: 19px;
  color: #717171;
}
.backet__item-counter {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  padding-top: 15px;
}
.backet__item-counter label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #595959;
}
.backet__item-input {
  margin-top: 10px;
  width: 24px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding-left: 13px;
  outline: none;
}
.backet__item-delete {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  margin-left: 15px;
  padding-top: 40px;
}
.backet__item-delete__link {
  display: block;
  background: url("../../static/img/common/close.png") 0 0 no-repeat;
  width: 18px;
  height: 18px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-top: 4px;
}
.backet-popup__total {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  height: 37px;
  padding-top: 25px;
  border-top: 1px solid #cccccc;
  margin-top: 20px;
}
.backet-popup__total:before,
.backet-popup__total:after {
  content: "";
  display: table;
}
.backet-popup__total:after {
  clear: both;
}
.backet-popup__total-price {
  float: left;
}
.backet-popup__total-title {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  font-size: 12px;
  line-height: 16px;
  color: #4c4c4c;
  padding-top: 6px;
}
.backet-popup__total-value {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  font-family: "pfbeausanspro-semibold";
  font-size: 22px;
  line-height: 25px;
  color: #000;
}
.backet-popup__total-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.backet-popup__item {
  width: 380px;
  height: 82px !important;
}
.rouble:after {
  content: 'a';
  font-family: 'rouble';
  font-size: 16px;
}
