
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: 1px solid #9fa0a0;
	margin:-1px;	/* Set this to minus the border thickness. */
	/*background-color:#fff;*/
	cursor:move;		
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
	border:1px solid #9fa0a0;
	overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
}

            /* div that surrounds Cloud Zoom image and content slider. */
            #surround {
                /*width:50%;*/
                min-width: 411px;
                max-width: 411px;
            }

            /* Image expands to width of surround */
            img .cloud-zoom {
                width:100%;
            }

            /* CSS for slider - will expand to width of surround */
            #slider1 {
                margin-left:20px;
                margin-right:20px;
                height:81px;
/*                border-top:1px solid #aaa;
                border-bottom:1px solid #aaa;*/
                position:relative;
            }

