/* -------= градиентное сине-голубое меню =------- */
/* Fonts */
@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../../static/fonts/myriadpro/MyriadPro-Bold.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Bold.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Bold.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
}
@font-face {
  font-family: "MyriadPro-BoldCond";
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCond.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCond.svg#MyriadPro-BoldCond") format("svg");
}
@font-face {
  font-family: "MyriadPro-BoldCondIt_0";
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-BoldCondIt_0.svg#MyriadPro-BoldCondIt_0") format("svg");
}
@font-face {
  font-family: "MyriadPro-Cond";
  src: url("../../static/fonts/myriadpro/MyriadPro-Cond.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Cond.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Cond.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Cond.svg#MyriadPro-Cond") format("svg");
}
@font-face {
  font-family: "MyriadPro-It";
  src: url("../../static/fonts/myriadpro/MyriadPro-It.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-It.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-It.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-It.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-It.svg#MyriadPro-It") format("svg");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../../static/fonts/myriadpro/MyriadPro-Regular.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Regular.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Regular.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../../static/fonts/myriadpro/MyriadPro-Semibold.eot");
  src: url("../../static/fonts/myriadpro/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.woff") format("woff"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.ttf") format("truetype"), url("../../static/fonts/myriadpro/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg");
}
/* Generated by Glyphter (http://www.glyphter.com) on  Mon Nov 10 2014*/
@font-face {
  font-family: 'star-font';
  src: url('../../static/fonts/star-font.eot');
  src: url('../../static/fonts/star-font.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/star-font.woff') format('woff'), url('../../static/fonts/star-font.ttf') format('truetype'), url('../../static/fonts/star-font.svg#star-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Generated by Glyphter (http://www.glyphter.com) on  Sat Nov 08 2014*/
@font-face {
  font-family: 'button-font';
  src: url('../../static/fonts/Glyphter.eot');
  src: url('../../static/fonts/Glyphter.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/Glyphter.woff') format('woff'), url('../../static/fonts/Glyphter.ttf') format('truetype'), url('../../static/fonts/Glyphter.svg#Glyphter') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* -------= pfbeausanspro-regular =------- */
@font-face {
  font-family: "pfbeausanspro-regular";
  src: url("../../static/fonts/pfbeausanspro-regular/pfbeausanspro-regular.eot");
  src: url("../../static/fonts/pfbeausanspro-regular/pfbeausanspro-regular.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/pfbeausanspro-regular/pfbeausanspro-regular.woff") format("woff"), url("../../static/fonts/pfbeausanspro-regular/pfbeausanspro-regular.ttf") format("truetype"), url("../../static/fonts/pfbeausanspro-regular/pfbeausanspro-regular.svg#pfbeausanspro-regular") format("svg");
}
/* -------= pfbeausanspro-regular =------- */
/* -------= pfbeausanspro-semibold =------- */
@font-face {
  font-family: "pfbeausanspro-semibold";
  src: url("../../static/fonts/pfbeausanspro-semibold/pfbeausanspro-semibold.eot");
  src: url("../../static/fonts/pfbeausanspro-semibold/pfbeausanspro-semibold.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/pfbeausanspro-semibold/pfbeausanspro-semibold.woff") format("woff"), url("../../static/fonts/pfbeausanspro-semibold/pfbeausanspro-semibold.ttf") format("truetype"), url("../../static/fonts/pfbeausanspro-semibold/pfbeausanspro-semibold.svg#pfbeausanspro-semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* -------= pfbeausanspro-semibold =------- */
/* -------= pfbeausanspro-semibold =------- */
@font-face {
  font-family: "pfbeausanspro-light";
  src: url("../../static/fonts/pfbeausanspro-light/pfbeausanspro-light.eot");
  src: url("../../static/fonts/pfbeausanspro-light/pfbeausanspro-light.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/pfbeausanspro-light/pfbeausanspro-light.woff") format("woff"), url("../../static/fonts/pfbeausanspro-light/pfbeausanspro-light.ttf") format("truetype"), url("../../static/fonts/pfbeausanspro-light/pfbeausanspro-light.svg#pfbeausanspro-light") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* -------= pfbeausanspro-semibold =------- */
/* -------= шрифт рубля =------- */
@font-face {
  font-family: 'rouble';
  src: url('../../static/fonts/rouble/rouble.eot');
  src: url('../../static/fonts/rouble/rouble.eot?#iefix') format('embedded-opentype'), url('../../static/fonts/rouble/rouble.woff') format('woff'), url('../../static/fonts/rouble/rouble.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* -------= шрифт рубля =------- */
.rouble {
  font-family: 'rouble';
}
.pfbeausanspro-light {
  font-family: "pfbeausanspro-light";
}
.pfbeausanspro-semibold {
  font-family: "pfbeausanspro-semibold";
}
.pfbeausanspro-regular {
  font-family: "pfbeausanspro-regular";
}
.button-font {
  font-family: "button-font";
}
.star-font {
  font-family: "star-font";
}
.myriad-b {
  font-family: "MyriadPro-Bold";
}
.myriad-bc {
  font-family: "MyriadPro-BoldCond";
}
.myriad-bcit_0 {
  font-family: "MyriadPro-BoldCondIt_0";
}
.myriad-c {
  font-family: "MyriadPro-Cond";
}
.myriad-it {
  font-family: "MyriadPro-It";
}
.myriad-r {
  font-family: "MyriadPro-Regular";
}
.myriad-sb {
  font-family: "MyriadPro-Semibold";
}
/* ------------------------------------------- */
/* MIXINS */
/* by https://bitbucket.org/wowua/ */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.main {
  width: 1110px;
  position: relative;
  height: 50px;
  margin-bottom: 54px;
}
.main a {
  line-height: 50px;
  display: block;
  font-family: "pfbeausanspro-light";
  font-size: 16px;
  text-decoration: none;
  color: #4b4b4b;
}
.main a:after {
  margin-left: 6px;
  content: "";
  width: 9px;
  height: 5px;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  vertical-align: middle;
  background: url('../../static/img/common/gradientmenu-corner.png') center center no-repeat;
}
.text-align-center {
  text-align: center;
}
.active-border {
  border-left: 1px solid #cecece;
  border-top: 1px solid #cecece;
  height: 49px !important;
}
.small-border-top-block {
  border-right: 1px solid #cecece;
}
.small-border-bottom-block {
  border-left: 1px solid #cecece;
}
.inner1-1 {
  width: 276px;
  height: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 5px 0 0 0;
  background: linear-gradient(90deg, #92c8e1, #afd9ec);
}
.inner2-1 {
  width: 5px;
  height: 50%;
  position: absolute;
  top: 0;
  left: 276px;
  border-radius: 0 5px 0 0;
  background: linear-gradient(90deg, #afd9ec, #b6d7e6);
  z-index: 1;
  /*сверху*/
}
.inner2-2 {
  width: 10px;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 276px;
  background: linear-gradient(90deg, #afd9ec, #b6d7e6);
  z-index: 0;
  /*снизу*/
}
.inner3-1 {
  width: 10px;
  height: 50%;
  position: absolute;
  top: 0;
  left: 276px;
  background: linear-gradient(90deg, #92c8e1, #93c8e1);
  z-index: 0;
  /*снизу*/
}
.inner3-2 {
  width: 5px;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 281px;
  border-radius: 0 0 0 5px;
  background: linear-gradient(90deg, #92c8e1, #93c8e1);
  z-index: 1;
  /*сверху*/
}
.inner4-1 {
  width: 130px;
  height: 100%;
  position: absolute;
  left: 286px;
  bottom: 0;
  background: linear-gradient(90deg, #92c8e1, #afd9ec);
}
.inner5-1 {
  width: 5px;
  height: 50%;
  position: absolute;
  top: 0;
  left: 416px;
  border-radius: 0 5px 0 0;
  background: linear-gradient(90deg, #afd9ec, #b6d7e6);
  z-index: 1;
  /*сверху*/
}
.inner5-2 {
  width: 10px;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 416px;
  background: linear-gradient(90deg, #afd9ec, #b6d7e6);
  z-index: 0;
  /*снизу*/
}
.inner6-1 {
  width: 10px;
  height: 50%;
  position: absolute;
  top: 0;
  left: 416px;
  background: linear-gradient(90deg, #92c8e1, #93c8e1);
  z-index: 0;
  /*снизу*/
}
.inner6-2 {
  width: 5px;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 421px;
  border-radius: 0 0 0 5px;
  background: linear-gradient(90deg, #92c8e1, #93c8e1);
  z-index: 1;
  /*сверху*/
}
.inner7-1 {
  width: 230px;
  height: 100%;
  position: absolute;
  left: 426px;
  bottom: 0;
  background: linear-gradient(90deg, #92c8e1, #afd9ec);
}
.inner8-1 {
  width: 5px;
  height: 50%;
  position: absolute;
  top: 0;
  left: 656px;
  border-radius: 0 5px 0 0;
  background: linear-gradient(90deg, #afd9ec, #b6d7e6);
  z-index: 1;
  /*сверху*/
}
.inner8-2 {
  width: 10px;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 656px;
  background: linear-gradient(90deg, #afd9ec, #b6d7e6);
  z-index: 0;
  /*снизу*/
}
.inner9-1 {
  width: 10px;
  height: 50%;
  position: absolute;
  top: 0;
  left: 656px;
  background: linear-gradient(90deg, #92c8e1, #93c8e1);
  z-index: 0;
  /*снизу*/
}
.inner9-2 {
  width: 5px;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 661px;
  border-radius: 0 0 0 5px;
  background: linear-gradient(90deg, #92c8e1, #93c8e1);
  z-index: 1;
  /*сверху*/
}
.inner10-1 {
  width: 231px;
  height: 100%;
  position: absolute;
  left: 666px;
  bottom: 0;
  background: linear-gradient(90deg, #92c8e1, #afd9ec);
}
.inner11-1 {
  width: 5px;
  height: 50%;
  position: absolute;
  top: 0;
  left: 897px;
  border-radius: 0 5px 0 0;
  background: linear-gradient(90deg, #afd9ec, #b6d7e6);
  z-index: 1;
  /*сверху*/
}
.inner11-2 {
  width: 10px;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 897px;
  background: linear-gradient(90deg, #afd9ec, #b6d7e6);
  z-index: 0;
  /*снизу*/
}
.inner12-1 {
  width: 10px;
  height: 50%;
  position: absolute;
  top: 0;
  left: 897px;
  background: linear-gradient(90deg, #92c8e1, #93c8e1);
  z-index: 0;
  /*снизу*/
}
.inner12-2 {
  width: 5px;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 902px;
  border-radius: 0 0 0 5px;
  background: linear-gradient(90deg, #92c8e1, #93c8e1);
  z-index: 1;
  /*сверху*/
}
.inner13-1 {
  width: 203px;
  height: 100%;
  position: absolute;
  left: 907px;
  bottom: 0;
  border-radius: 0 5px 0 0;
  background: linear-gradient(90deg, #92c8e1, #afd9ec);
}
/* -------= градиентное сине-голубое меню =------- */
