/* author = taksenov@gmail.com */
/* MainSettings */
@import "mixins";
@import "fonts";
@import "button";
@import "rating";
@import "input";
@import "price";
@import "gradientmenu";
@import "cart";

@container-width : 1110px;
@footer-height   : 155px;
@body-font       : "MyriadPro-Regular";

.container {
    width: @container-width;
    margin: 0 auto;
    position: relative;
}
.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;
    min-width: @container-width + 20px;

    .empty {
        position: relative;
        height: @footer-height;
    }

}
.navbar {
    width: 100%;
    height: 58px;
    background: #f8f8f8;
    border-bottom: 1px solid #e9e9ea;
    .clearfix;
}
ul {
    padding: 0;
    margin: 0;
    li {
        margin-top: 10px;
        padding: 0;
        left: 0;
        list-style: none outside none;
    }
}
p {
    padding: 0;
    margin-top: 20px;
}
br {
    margin-bottom: 30px;
}
footer {
    position: relative;
    margin-top: -@footer-height;
    height: @footer-height;
}
*{
    font-family: "MyriadPro-Regular";
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    background: #ffffff;
}
/* ------------------------------------------- */

/* Maincontent */
.maincontent {
    //padding-top: 50px;
}
/* ------------------------------------------- */

/* Divider */
.divider {
    background-color: #d2d0d0;
    width: 100%;
    height: 1px;
    margin-left: 0px;
    margin-top: 0;
    border-left: 0;
    margin-bottom: 0;

}
.divider-comment {
    width: 100%;
    height: 1px;
    margin-left: 0px;
    margin-top: 0;
    border-left: 0;
    margin-bottom: 0;
    background: url('../../static/img/common/divider-bg.png') repeat #ced0d0;
}
/* ------------------------------------------- */

/* -------= Кнопки =------- */
/* Модификации кнопки */


.make-order-button {
    .original-button (176px, 37px, url('../../static/img/common/cart.png'), 3px);
}

.make-order-button-in-backet {
    .original-button (187px, 42px, url('../../static/img/common/wallet.png'), 3px);
}

.send-response-button {
    .original-button (127px, 46px, url('../../static/img/common/paper-plane.png'), 3px);

    span {
        position: relative;
        top: -9px;
    }
    .text2 {
        top: -38px;
        position: relative;
    }

}

.put-in-cart-button {
    .original-button (108px, 28px, url('../../static/img/common/cart.png'), 3px);
}

.qos-button {
    .original-button (172px, 42px, none, 0);
}

.qos-button {
    background-color: #fff;
    background-image: -webkit-linear-gradient(right, #006599, #1776a5);
    background-image: -moz-linear-gradient(right, #006599, #1776a5);
    background-image: -o-linear-gradient(right, #006599, #1776a5);
    background-image: -ms-linear-gradient(right, #006599, #1776a5);
    background-image: linear-gradient(to left, #006599, #1776a5);
}
/* Модификации кнопки */
/* -------= Кнопки =------- */

/* -------= Navbar =------- */
@navbar__labels-heigth: 37px;
.navbar__labels {
    margin: 10px 0;
    width: 100%;
    height: @navbar__labels-heigth;
    float: left;

    ul {
       .clearfix;
    }
    ul li {
        float: left;
        margin: 0;
        height: @navbar__labels-heigth;
    }
    ul li a {
        height: @navbar__labels-heigth;
        line-height: @navbar__labels-heigth;
    }

}
.navbar__labels-ouradvantage {
    width: 205px;
    a {
        text-decoration: none;
        border-bottom: 1px dashed #9e9e9e;
        .pfbeausanspro-regular;
        color: #626262;
        font-size: 14px;

    }

    &:after {
        content: "";
        width: 9px;
        height: 5px;
        .inlineblock;
        vertical-align: middle;
        background: url('../../static/img/common/active-tab-grey.png') center center no-repeat;
    }

}
.navbar__labels-howpay {
    width: 136px;
    a {
        text-decoration: none;
        .pfbeausanspro-regular;
        color: #626262;
        font-size: 14px;

    }
}
.navbar__labels-howbuy {
    width: 136px;
    a {
        text-decoration: none;
        .pfbeausanspro-regular;
        color: #626262;
        font-size: 14px;

    }
}
.navbar__labels-contacts {
    width: 148px;
    a {
        text-decoration: none;
        .pfbeausanspro-regular;
        color: #626262;
        font-size: 14px;

    }
}
.navbar__labels-skype {
    width: 40px;
    a:after {
        content: "";
        width: 20px;
        height: 21px;
        .inlineblock;
        vertical-align: middle;
        background: url('../../static/img/common/skype.png') center center no-repeat;
    }
}
.navbar__labels-callback {
    width: 234px;
    text-align: center;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    a {
        text-decoration: none;
        border-bottom: 1px dashed #9e9e9e;
        .pfbeausanspro-regular;
        color: #626262;
        font-size: 14px;

    }

    &:before {
        content: "";
        width: 13px;
        height: 13px;
        .inlineblock;
        vertical-align: middle;
        background: url('../../static/img/common/header-phone.png') center center no-repeat;
    }

}
.navbar__labels-phone {
    width: 208px;
    text-align: right;
    a {
        .pfbeausanspro-regular;
        font-size: 20px;
        text-decoration: none;
        color: #626262;
    }
    a b {
        .pfbeausanspro-regular;
        font-size: 20px;
        text-decoration: none;
        color: #626262;
    }
}
/* -------= Navbar =------- */

/* -------= logoblock =------- */
@logoblock-heigth: 129px;
.logoblock {
    .clearfix;
    width: 100%;
    height: @logoblock-heigth;

    ul {
       .clearfix;
    }
    ul li {
        float: left;
        margin: 0;
        height: @logoblock-heigth;
    }

}

.logoblock__logotip {
    width: 255px;
    height: 100%;

}
.logoblock__logotip-logo-img {
    max-width: 229px;
    max-height: 61px;
    display: block;
    position: absolute;
    top: 22px;
    left: -7px;
    right: 0;
    bottom: 0;
}
.logoblock__logotip-logo-text {
    position: absolute;
    top: 0;
    left: -99999px;
}
.logoblock__logotip-life-is-little-things {
    position: absolute;
    top: 90px;
    left: 78px;
    display: block;
    max-width: 144px;
    .pfbeausanspro-regular;
    color: #4c4c4c;
    font-size: 9.7px;
}

.logoblock__search {
    width: 279px;
    height: 100%;
    .form {
        position: relative;
    }
}

.navbar__search-input {
    // @width -- ширина
    // @fontsize -- размер шрифта
    // @padding -- паддниг
    .input-text-search (204px, 16px, 4px );
    margin-top: 52px;
}
.navbar__search-submit {
    display: block;
    position: absolute;
    top: 59px;
    left: 4px;
    background: url("../../static/img/common/search-icon.png") 0 0 no-repeat;
    width: 15px;
    height: 15px;
    border: 0 none;
    padding: 0;
}

.search-button {
    .original-button (68px, 28px, none, 3px);
    margin-left: 7px;
    margin-top: 52px;
}
.logoblock__compare {
    width: 165px;
 //   height: 100%;
    height: @logoblock-heigth;
    line-height: @logoblock-heigth;
    position: relative;

        img {
            float: left;
            display: block;
            position: absolute;
            top: 54px;
            left: 31px;
            right: 0;
            bottom: 0;
            margin: 0;
        }
        p {

            margin-left: 63px;
            margin-top: 0;
            width: 100%;
        }
        a {
            .pfbeausanspro-regular;
            color: #717576;
            font-size: 14px;
        }

}
.logoblock__favorites {
    width: 152px;
  //  height: 100%;
    height: @logoblock-heigth;
    line-height: @logoblock-heigth;
    position: relative;

        img {
            float: left;
            display: block;
            position: absolute;
            top: 54px;
            left: 8px;
            right: 0;
            bottom: 0;
            margin: 0;
        }
        p {

            margin-left: 36px;
            margin-top: 0;
            width: 100%;
        }
        a {
            .pfbeausanspro-regular;
            color: #717576;
            font-size: 14px;
        }
}
.logoblock__enter {
    width: 83px;
 //   height: 100%;
    height: @logoblock-heigth;
    line-height: @logoblock-heigth;
    position: relative;

        img {
            float: left;
            display: block;
            position: absolute;
            top: 54px;
            left: 8px;
            right: 0;
            bottom: 0;
            margin: 0;
        }
        p {

            margin-left: 36px;
            margin-top: 0;
            width: 100%;
        }
        a {
            .pfbeausanspro-regular;
            color: #717576;
            font-size: 14px;
        }
}
.logoblock__cart {
    p {
        width: 104px;
        height: 26px;
        .pfbeausanspro-regular;
        font-size: 12px;
        margin-left: 26px;
        margin-top: 0;

    }
}
/* -------= logoblock =------- */

/* -------= menublock =------- */
@menublock__labels-heigth: 50px;
.menublock {
    .clearfix;
    width: 100%;
    height: @menublock__labels-heigth;
    //float: left;
    margin-bottom: 54px;

    ul {
       .clearfix;
    }
    ul li {
        float: left;
        margin: 0;
        height: @menublock__labels-heigth;
    }
    ul li a {
        height: @menublock__labels-heigth;
        line-height: @menublock__labels-heigth;
    }



}
.menublock__products {
    width: 280px;
    text-align: center;

  }
.menublock__brands {
    width: 138px;
    text-align: center;

}
.menublock__valentinesday {
    width: 240px;
    text-align: center;


}
.menublock__armyday {
    width: 240px;
    text-align: center;


}
.menublock__8marchday {
    width: 202px;
    text-align: center;

}
/* -------= menublock =------- */

/* -------= textmenublock =------- */
.textmenublock {
    .clearfix;
    width: 100%;
    margin-bottom: 19px;
   margin-left: 30px;

    ul {
       .clearfix;
    }
    ul li {
        float: left;
        margin: 0;
    }

}
.textmenu_menuitems {
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 8px;
        padding: 0;
        color: #333333;

        a {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: #333333;
        }
    }
}

/* -------= textmenublock =------- */

/* -------= контейнер с названием товара =------- */
//@itemblock__labels-heigth: 52px;
.itemblock-original (@itemblock__labels-heigth: 52px) {
    .clearfix;
    width: 100%;
    height: @itemblock__labels-heigth;
}
.itemblock {
    .itemblock-original (52px)
}
.itemlock__itemname {
    margin-top: 0;
    margin-bottom: 47px;
    .itemblock-original (28px);
    padding: 0;

    p {
        margin: 0;
        padding: 0;
        color: #0a7eb5;
        .pfbeausanspro-light;
        font-size: 30px;
    }

}
/* -------= контейнер с названием товара =------- */

/* -------= Внешний вид товара =------- */
@itemexterier-heigth: 362px;
.itemexterier {
    .clearfix;
    width: 100%;
    margin-bottom: 74px;

}
.itemexterier__left {
    height: 100%;
    width: 474px;
    float: left;
}
.itemexterier__center {
    .clearfix;
    height: 100%;
    width: 330px;
    float: left;

//border123
//border: 1px solid #000000;


}
.itemexterier__vertical-divider {
    height: 291px;
    width: 1px;
    margin-top: 10px;
    float: left;

}
.itemexterier__right {

    height: 100%;
    width: 300px;
    float: right;

}
.itemexterier__left-img {
    width: 100%;
    height: 280px;
}
.itemexterier__left-carousel {
    width: 401px;

    #slider1 {
        margin-top: 6px;
    }
}
.itemexterier__center-property {
    width: 100%;
    margin-top: 10px;
    height: 202px;
    float: left;



}
.itemexterier__center-propertyValue {
    width: 162px;
    margin-top: 10px;
    height: 202px;
    float: left;



}
.itemexterier__center-socNetworksIcons {
    width: 100%;
    margin-top: 38px;
    height: 44px;
    float: left;



}
.itemexterier__right-price {
    .clearfix;

    width: 100%;
    height: 100%;
    margin-top: 10px;

    p {
        margin: 0;
        padding: 0;
    }
}
.itemexterier__discount {
    width: 120px;
    float: left;
    margin-left: 50px;
}
.itemexterier__15percentoff {
    width: 120px;
    float: left;
}
.itemexterier__real {
    .clearfix;
    margin-left: 50px;
    margin-top: 10px;
}
.itemexterier__remains {
    margin-left: 50px;
    margin-top: 6px;

    p {
        margin-top: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #595959;
    }
}
.itemexterier__orderbutton {
    margin-left: 50px;
}
@itemexterier__gray-link-img-height: 23px;
.itemexterier__gray-link-img {
    margin-left: 50px;
    float: left;
    margin-top: @itemexterier__gray-link-img-height;
    color: #717576;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;

    position: relative;

    img {
        float: left;
        display: block;
        position: absolute;
        top: -2px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }
    p {

        margin-left: 33px;
        margin-top: 0;
        width: 100%;
    }
    a {
        .pfbeausanspro-regular;
        color: #717576;
        font-size: 14px;
    }

}
.itemexterier__socialnetwork-icon {
    float: left;
    margin-top: 0;
}
.facebook-ico {
    background: url('../../static/img/common/soc-fb-original.png'); /* Путь к файлу с исходным рисунком  */
    display: block; /*  Рисунок как блочный элемент */
    width: 43px; /* Ширина рисунка */
    height: 43px; /*  Высота рисунка */
}
.google-plus-ico {
    background: url('../../static/img/common/soc-gplus-original.png'); /* Путь к файлу с исходным рисунком  */
    display: block; /*  Рисунок как блочный элемент */
    width: 43px; /* Ширина рисунка */
    height: 43px; /*  Высота рисунка */
}
.vk-ico {
    background: url('../../static/img/common/soc-vk-original.png'); /* Путь к файлу с исходным рисунком  */
    display: block; /*  Рисунок как блочный элемент */
    width: 43px; /* Ширина рисунка */
    height: 43px; /*  Высота рисунка */
}
.twitter-ico {
    background: url('../../static/img/common/soc-twitter-original.png'); /* Путь к файлу с исходным рисунком  */
    display: block; /*  Рисунок как блочный элемент */
    width: 43px; /* Ширина рисунка */
    height: 43px; /*  Высота рисунка */
}
.utube-ico {
    background: url('../../static/img/common/soc-utube-original.png'); /* Путь к файлу с исходным рисунком  */
    display: block; /*  Рисунок как блочный элемент */
    width: 43px; /* Ширина рисунка */
    height: 43px; /*  Высота рисунка */
}
.facebook-ico:hover {
    background: url('../../static/img/common/soc-fb-hover.png'); /* Путь к файлу с заменяемым рисунком  */
}
.google-plus-ico:hover {
    background: url('../../static/img/common/soc-gplus-hover.png'); /* Путь к файлу с заменяемым рисунком  */
}
.vk-ico:hover {
    background: url('../../static/img/common/soc-vk-hover.png'); /* Путь к файлу с заменяемым рисунком  */
}
.twitter-ico:hover {
    background: url('../../static/img/common/soc-twitter-hover.png'); /* Путь к файлу с заменяемым рисунком  */
}
.utube-ico:hover {
    background: url('../../static/img/common/soc-utube-hover.png'); /* Путь к файлу с заменяемым рисунком  */
}

.itemexterier__price-discount   {
    .price-discount (@marginTop: 0px, @marginBottom: 0px, @fontSize: 26px);
}
.itemexterier__rouble-discount  {
    .rouble-discount (@roubleSize: 12px);
}
.itemexterier__price-real   {
    .price-real (@marginTop: 0px, @marginBottom: 0px, @fontSize: 36px);
}
.itemexterier__rouble-real  {
    .rouble-real (@roubleSize: 18px);
}
/* -------= Внешний вид товара =------- */

/* -------= описание/характеристики/подробнее о бренде товара =------- */
@itemdescription__headers-heigth: 22px;
.itemdescription__headers {
    .clearfix;
    width: 100%;
    height: @itemdescription__headers-heigth;
    margin-bottom: 32px;

    ul {
       .clearfix;
    }
    ul li {
        float: left;
        margin: 0;
        height: @itemdescription__headers-heigth;
    }
    ul li a {
        height: @itemdescription__headers-heigth;
        line-height: @itemdescription__headers-heigth;
        .pfbeausanspro-semibold;
        font-size: 20px;
    }

    .right-space {
        margin-right: 48px;
    }

    .header {
        text-decoration: none;
        border-bottom: 1px dashed #4c4c4c;
        color: #4c4c4c;
    }

    .active {
        border-bottom: none;
        color: #006296;
    }

}
@itemdescription__column-heigth: 308px;
.itemdescription__column {
    .clearfix;
    width: 100%;
    margin-bottom: 90px;

}
.itemdescription__column-left {
    height: 100%;
    width: 424px;
    float: left;
}
.itemdescription__column-center {
    height: 100%;
    width: 400px;
    float: left;

}
.itemdescription__column-right {
    height: 100%;
    width: 280px;
    float: left;

}

/* -------= Стилизация списка =------- */
.column-header {
    margin-bottom: 23px;
    padding: 0;
    height: 20px;

    p {
        .pfbeausanspro-semibold;
        font-size: 20px;
        color: #4c4c4c;
        margin: 0;
        padding: 0;
    }

}
.column-center {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    display:table;

}
.column-center li {
    display: table-cell;
}

.base-row_grand {
    margin-bottom: 13px;
}
.base-row {
    display: table-row;
}

/* -------= здесь стилизуется ширина колонок для списка свойств =------- */
.width100percent {
    width: 100%;
}
.itemexterier__column-center__cell1 {
    width: 165px;
}
.itemexterier__column-center__cell2 {
    width: 165px;
    position: relative;
}
.itemdescription__column-center__cell1 {
    width: 168px;
}
.itemdescription__column-center__cell2 {
    width: 110px;
    position: relative;
}
.itemdescription__column-right__cell1 {
    width: 168px;
}
.itemdescription__column-right__cell2 {
    width: 110px;
    position: relative;
}
/* -------= здесь стилизуется ширина колонок для списка свойств =------- */

.right {
    position: absolute;
    bottom: 0;

    img {
        position: absolute;
        bottom: -1px;
    }
}

.left p,
.right p {
    margin: 0;
    padding: 0;
}
.iteminfo__text-gray {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #838282;
    margin-top: 0;
    margin-bottom: 13px;
}
.iteminfo__text-black {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #252525;
    margin-top: 0;
    margin-bottom: 13px;
}
/* -------= Стилизация списка =------- */
/* -------= описание/характеристики/подробнее о бренде товара =------- */

/* -------= комментарии =------- */
.itemblock__down {
    .itemblock-original (16px);
    margin-bottom: 33px;
    padding: 0;

    p {
        margin: 0;
        padding: 0;
        color: #0a7eb5;
        .pfbeausanspro-regular;
        font-size: 18px;
    }

}
.commentsblock__header {
    .itemblock-original (16px);
    margin-bottom: 9px;
    padding: 0;

    p {
        margin: 0;
        padding: 0;
        color: #333333;
        .pfbeausanspro-regular;
        font-size: 18px;
    }

}
@commentsblock__form-heigth: 229px;
.commentsblock__form {
    .clearfix;
    width: 100%;
    height: @commentsblock__form-heigth;
    margin-bottom: 17px;
    border-top: 1px solid #cccccc;

}

.commentsblock__form-tabs {
    .clearfix;
    height: 73px;
    width: 100%;
    text-align: center;
    a {
        height: 73px;
        line-height: 73px;

    }

}
.commentsblock__form-tabs-tab-1 {
    height: 100%;
    width: 160px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    a {
        color: #17709a;
        text-decoration: none;
        border-bottom: 1px dashed #17709a;
    }

    &:after {
        content: "";
        width: 9px;
        height: 5px;
        .inlineblock;
        vertical-align: middle;
        background: url('../../static/img/common/active-tab.png') center center no-repeat;
    }

}
.commentsblock__form-tabs-tab-2 {
    height: 100%;
    width: 294px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    a {
        color: #17709a;
        text-decoration: none;
        border-bottom: 1px dashed #17709a;
    }

}
.commentsblock__form-form {
    //.clearfix;
    height: 154px;
    width: 820px;
    position: relative;


    background: #e5e5e5;

}
.commentsblock__form-commentform {
    position: absolute;
    top: 21px;
    bottom: 25px;
    left: 21px;
    right: 21px;
    margin: auto;


}
.name-e-mail {
    float: left;
    width: 176px;

}
.comment-text {
    float: left;
    width: 466px;

}
.commenform__comment-text {
    width: 438px;
    height: 73px;
    resize: none;
    overflow: auto;
    padding: 4px;

    .border-radius(3px);
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 0 5px rgba(9,12,18,.16);
    -moz-box-shadow: inset 0 0 5px rgba(9,12,18,.16);
    box-shadow: inset 0 0 5px rgba(9,12,18,.16);
    border: solid 1px #d6d6d6;

}
.submitcomment {
    float: left;
    width: 127px;

    p {
        margin-top: 22px;
    }

}
.commentsfromusers {
    width: 100%;
    height: 100%;
    margin-bottom: 73px;

    p {
        margin: 0;
    }

}
.name-e-mail,
.comment-text {
    p {
        margin-top: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        margin-bottom: 8px;
    }

}
.commenform__name {
    margin-bottom: 6px;
}
.commenform__name,
.commenform__email {
    // @width -- ширина
    // @fontsize -- размер шрифта
    // @padding -- паддниг
    .input-text (158px, 14px, 4px );

}

.commentsfromusers__comment {
    .clearfix;
    margin-left: 22px;
    margin-top: 0;
    border-left: 0;
    margin-bottom: 0;

}
@commentsfromusers__comment-height: 32px;
.commentsfromusers__comment-username {
    float: left;
    margin-top: @commentsfromusers__comment-height;
    color: #17709a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;

    position: relative;

    img {
        float: left;
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }
    p {
        margin-left: 18px;
        margin-top: 0;
        width: 126px;

    }

}
.commentsfromusers__comment-date {
    margin-top: @commentsfromusers__comment-height;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    img {
        float: left;
        margin-right: 7px;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #838282;
    }
}
.commentsfromusers__comment-text {
    margin-top: 19px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}
/* -------= комментарии =------- */

/* -------= блок с похожими и ранее просмотренными товарами =------- */
.itemblockofitems {
    .itemblock-original (30px);
    .pfbeausanspro-light;
    color: #0a7eb5;
    font-size: 30px;
    margin-bottom: 46px;

}
.iteminfo {
    height: 550px;
    width: 100%;

}
.iteminfo__block {
    height: 100%;
    width: 275px;
    float: left;

}
.retroitems {
    margin-top: 97px;
}
.postitem {
    margin-bottom: 89px;
}
.iteminfo__block-image {

}
.iteminfo__block-header {
    margin-bottom: 28px;
    margin-top: 36px;
    .pfbeausanspro-semibold;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #17709a;

    p {
        margin: 0;
        padding: 0;
    }


}
.iteminfo__block-left {
    height: 165px;
    width: 107px;
    float: left;

}
.iteminfo__block-left-link {
    width: 107px;
    float: left;
    height: 28px;

}
.iteminfo__block-right {
    width: 112px;
    float: left;
}
.iteminfo__block-right-link {
    width: 112px;
    float: left;
    height: 28px;

    ul {
       .clearfix;
    }
    ul li {
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }


}

.iteminfo__price-discount {
    .price-discount (@marginTop: 25px, @marginBottom: 0px, @fontSize: 16px);
}
.discount-price {
    .rouble-discount (@roubleSize: 8px);
}
.iteminfo__price-real {
    .price-real (@marginTop: 18px, @marginBottom: 20px, @fontSize: 24px);
}
.real-price {
    .rouble-real (@roubleSize: 11px);
}
.iteminfo__link {
    margin-top: 7px;

        position: relative;

    img {
        float: left;
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }
    p {
        margin-left: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #17709a;
        text-decoration: underline;
        margin-top: 0;

    }
    p a {
        color: #17709a;
        text-decoration: none;
    }

}
/* -------= блок с похожими и ранее просмотренными товарами =------- */

/* -------= блок предшествующий футеру =------- */
.prefooterblock {
    .clearfix;
    width: 100%;
    height: 100%;
    margin-bottom: 37px;

    border-top: 1px solid #e0e0e0;
}
.prefooterblock__col-first {
    width: 258px;
    height: 100%;
    float: left;

    a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6f6f6f;
    }

}
.prefooterblock__col-second {
    width: 339px;
    height: 100%;
    float: left;

    a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6f6f6f;
    }

}
.prefooterblock__col-third {
    width: 233px;
    height: 100%;
    float: left;

    a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6f6f6f;
    }

}
.prefooterblock__col-fourth {
    width: 270px;
    height: 100%;
    float: left;

        position: relative;

    img {
        float: left;
        display: block;
        position: absolute;
        top: 58px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }

}
.prefooterblock__col-fourth-button {
    p {
        margin-top: 207px;
    }
}
.prefooterblock__col-title {
    margin-top: 58px;
    margin-bottom: 27px;
    height: 16px;

    p {
        margin: 0;
        padding: 0;
        height: 16px;
        font-size: 16px;
        .pfbeausanspro-regular;
        color: #17709a;

    }
}
.prefooterblock__linkslist {
    .clearfix;
    height: 100%;
    width: 100%;

    ul {
       .clearfix;
    }
    ul li {
        margin-bottom: 23px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;


    }

}
.prefooterblock__col-second-linkslist {
    .clearfix;
    height: 100%;
    width: 100%;

}
.prefooterblock__col-second-left {
    height: 100%;
    width: 163px;
    float: left;

    ul {
       .clearfix;
    }
    ul li {
        margin-bottom: 23px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

}
.prefooterblock__col-second-right {
    height: 100%;
    width: 172px;
    float: left;

    ul {
       .clearfix;
    }
    ul li {
        margin-bottom: 23px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

}
.prefooterblock__linkslist-test {
    .clearfix;
    height: 100%;
    width: 158px;

    ul {
       .clearfix;
    }
    ul li {
        margin-bottom: 23px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

}
/* -------= блок предшествующий футеру =------- */

/* -------= Footer =------- */
.footer__container {
    height: @footer-height;
    background: url('../../static/img/common/footer-bg.png') repeat #ced0d0;
}
.footer__container-cols {
    .clearfix;
    width: 100%;
    height: 100%;

    p {
        margin: 0;
    }
}
.footer__container-col-1st {
    height: 100%;
    float: left;
    width: 253px;
    margin-top: 39px;
    .pfbeausanspro-regular;

    p {
        .pfbeausanspro-regular;
        font-size: 12px;
        color: #6f6f6f;
        margin-top: 20px;
    }

}
.footer__container-col-2nd {
    height: 100%;
    float: left;
    width: 190px;
    margin-top: 57px;
    .pfbeausanspro-regular;

    position: relative;

    img {
        float: left;
        display: block;
        position: absolute;
        top: 1px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }

    p {
        float: left;
        margin-left: 18px;
        .pfbeausanspro-regular;
        font-size: 12px;
        color: #6f6f6f;

    }

}
.footer__container-col-3rd {
    height: 100%;
    float: left;
    width: 440px;
    margin-top: 57px;
    position: relative;
    .pfbeausanspro-regular;

    img {
        float: left;
        display: block;
        position: absolute;
        top: 1px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }

    p {
        float: left;
        margin-left: 18px;
        .pfbeausanspro-regular;
        font-size: 12px;
        color: #6f6f6f;
        text-decoration: underline;
    }

}
.footer__container-col-4th {
    height: 100%;
    float: left;
    width: 219px;
    margin-top: 51px;

}
.footer__socialnetwork-icons {

}
.footer__socialnetwork-icon {
    float: left;
    margin-top: 0;
}
.right-side {
    margin-right: 16px;
}
/* -------= Footer =------- */







